.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}

.centered-radio-group {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.radio-big .ant-radio-inner {
   width: 32px;
   height: 32px;
}

.radio-big .ant-radio-inner::after {
   width: 0;
   height: 0;
}

.radio-normal .ant-radio-inner {
   width: 20px;
   height: 20px;
}

.radio-normal .ant-radio-inner::after {
   width: 0;
   height: 0;
}


@media (min-width: 1170px) {
   .answer-container-large {
      display: flex;
   }

   .answer-container-small {
      display: none;
   }
}

@media (max-width: 1169px) {
   .answer-container-large {
      display: none;
   }

   .answer-container-small {
      display: flex;
   }
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-radio-wrapper {
   margin-inline-end: 0;
}

.space-beween-radios {
   min-width: 40px;
}

.space-between-hint-and-radios {
   min-width: 40px;
}